    // ******************* primary colors *************************************
    $primary : #09D374;
    $primary-on : #FBFFFD;
    $primary-container : #EEFEF6;
    $primary-on-container : #057943;
    // ******************* secondary colors *************************************
    $secondary : #429FF5;
    $secondary-on : #FCFDFF;
    $secondary-container : #E4F1FE;
    $secondary-on-container : #04294C;
    // ******************* surface colors *************************************
    $surface : #FBFBFB;
    $surface-on : #0B0B0B;
    $surface-variant : #F1F1F1;
    $surface-on-variant : #7E7E7E;
    $surface-container-high : #C6C6C6;
    $surface-container-highest : #A5A5A5;
    $surface-container-low : #DFDFDF;
    $surface-container-lowest : #F1F1F1;
    // ******************* semantic colors *************************************
    $error : #DB2929;
    $error-on : #FEFCFC;
    $warning : #FDBB08;
    $warning-on : #FFFEFB;
    $success : #22B945;
    $success-on : #FBFEFC;
