    @font-face {
        font-family: 'peyda-regular';
        font-style: normal;
        src: url(../fonts/peyda/PeydaWeb-Regular.woff) format('woff');
    }

    @font-face {
        font-family: 'peyda-bold';
        font-style: normal;
        src: url(../fonts/peyda/PeydaWeb-Bold.woff) format('woff');
    }

    @font-face {
        font-family: 'yekan-regular';
        font-style: normal;
        src: url(../fonts/yekanBakh/YekanBakh-Regular.woff) format('woff');
    }

    @font-face {
        font-family: 'yekan-bold';
        font-style: normal;
        src: url(../fonts/yekanBakh/YekanBakh-Bold.woff) format('woff');
    }