    @font-face {
        font-family: 'peyda-regular';
        font-style: normal;
        src: url(../fonts/peyda/PeydaWeb-Regular.woff) format('woff');
    }

    @font-face {
        font-family: 'peyda-bold';
        font-style: normal;
        src: url(../fonts/peyda/PeydaWeb-Bold.woff) format('woff');
    }

    @font-face {
        font-family: 'yekan-regular';
        font-style: normal;
        font-weight: 400;
        src: url(../fonts/yekanBakh/YekanBakhFaNum-Regular.woff) format('woff');
    }
    
    @font-face {
        font-family: 'yekan-bold';
        font-style: normal;
        font-weight: 800;
        src: url(../fonts/yekanBakh/YekanBakhFaNum-Bold.woff) format('woff');
    }