@font-face {
    font-family: 'iran-begha';
    src: url("../fonts/icons/iran\ begha.eot begha.ttf") format("truetype"),
    url("../fonts/icons/iran\ begha.eot") format("embedded-opentype"),
    url("../fonts/icons/iran\ begha.woff") format("woff");
    }
    .ico {
        font-family: 'iran-begha' !important;
        font-size: 18px;
        font-style:normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .ue900-بقاعمتبرکه--بقاع-متبرکه:before { content: "\ea01"; }
    .ue901-سالنمراسم--سالن-مراسم:before { content: "\ea02"; }
    .ue902-آموزشی:before { content: "\ea03"; }
    .ue903-زائرسرا:before { content: "\ea04"; }
    .ue904-کتابخانه:before { content: "\ea05"; }
    .ue905-رویدادها--رویداد-ها:before { content: "\ea06"; }
    .ue906-قبور:before { content: "\ea07"; }
    .ue907-حمایتمالی--حمایت-مالی:before { content: "\ea08"; }
    .ue908-Menu:before { content: "\ea09"; }
    .vuesaxoutlinesearch-normal:before { content: "\ea0a"; }
    .ue90a-Pray:before { content: "\ea0b"; }
    .ue90b-Education:before { content: "\ea0c"; }
    .ue90c-Mosque:before { content: "\ea0d"; }
    .ue90e-ذکرشمار--ذکر-شمار:before { content: "\ea0f"; }
    .ue90f-اذانگو--اذان-گو:before { content: "\ea10"; }
    .ue910-قبلهنما--قبله-نما:before { content: "\ea11"; }
    .ue911-Calender:before { content: "\ea12"; }
    .ue912-Support:before { content: "\ea13"; }
    .ue913-Help:before { content: "\ea14"; }
    .ue914-Regulations:before { content: "\ea15"; }
    .ue915-Menu2:before { content: "\ea16"; }
    