@use "colors";
@use "fonts";
@use "style";
@use "icons";
@import "~/assets/css/colors.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: $surface;
}

body {
    font-family: 'yekan-regular';
    font-size: 14px;
    color: #0B0B0B;
    max-width: 600px;
    margin: 0 auto;
}

@layer components {

    .divider {
        @apply w-full bg-surface-100/50 h-[1px]
    }

    .centered {
        @apply flex items-center justify-center
    }

}

.check-icon {
    color: $secondary;
}