@use "colors";
@use "fonts";
@use "style";
@use "icons";
@import "~/assets/css/colors.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color: $surface;
}
body{
    font-family: 'yekan-regular';
    font-size: 14px;
    max-width: 600px;
    margin: 0 auto;
}