@use 'colors' as *;

* {
  direction: rtl;
  font-family: 'yekan-regular';
  user-select: none;
}

.container {
  padding: 16px !important;
  margin: 0 auto !important;

}


body {
  background-color: $surface;
}